<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>

<style>
    .layout{
        width:500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .layout input{
        width:100%;
        box-sizing: border-box;

    }
    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>

<body>
    <div class="layout">
        <form action="/writepro" method="post">
            <input name="title" type="text" placeholder="제목을 입력하세요">
            <textarea name="content" placeholder="내용을 입력하세요"></textarea>
            <input name="writer" type="text" placeholder="작성자">
            <button type="submit">작성</button>

        </form>
        <button onclick="location.href='/list'">돌아가기</button>


    </div>
</body>
</html>